@import "./utils/variables";
@import "./utils/extensions";
@import "./base/base";
@import "./components/buttons";
@import "./layouts/header";
@import "./layouts/section";
@import "./pages/product";
@media (max-width : 1200px) {
    header {
        &::after {
            width: calc(100% - 200px);
            left: 100px;
        }
    }
    .l-product-wrapper {
        padding: 0 75px;
    }
    .w-logo {
        padding: 0 0 0 75px;
    }
    .w-basketXaccount {
        padding: 0 75px 0 0;
    }
    
}
@media (max-width: 1000px) {
    header {
        height: 80px;
        &::after {
            content: '';
            visibility: hidden;
        }
    }
    #l-product-section {
        padding: 50px 0 120px;
    }
    .l-product-wrapper {
        flex-direction: column;
        align-items: center;
        padding: 0 100px;
    }
    #l-lightbox {
        display: none;
    }
    .l-lightbox-bg {
        background: rgba($Black, 0.75);
        z-index: 5;
        height: 100%;
        position: fixed;
        top: 0;
        right: 0;
        width: 30%;
        opacity: 0;
        visibility: hidden;
        &.is-active {
            opacity: 1;
            visibility: visible;
        }
    }
    #i-menu {
        display: flex;
        padding: 0 0 0 100px;
        cursor: pointer;
    }
    .w-logo {
        padding: 0 15px 0;
    }
    .w-header-nav {
        position: fixed;
        z-index: 5;
        height: 100vh;
        top: 0;
        padding: 25px 0 0 25px;
        width: calc(70% - 25px);
        background: $White;
        font-weight: 700;
        opacity: 0;
        visibility: hidden;
        &.is-active {
            opacity: 1;
            visibility: visible;
        }
        nav {
            flex-direction: column;
            padding: 42.5px 0 0;
            a {
                height: auto;
                width: auto;
                margin: 0 !important;
                padding: 7.5px 0 ;
                span {
                    color: $Black;
                    font-weight: 700;
                    &:hover::after {
                        display: none;
                    }
                }
            }
        }
        
    }
    #i-header-nav-close {
        display: inline;
    }
    .w-header-nav--fake{
        padding: 0 30px;
        flex: 1;
        display: flex;
    }
    .w-basketXaccount {
        padding: 0 100px  0 0;
        position: static;
    }
    .w-mini-cart {
        box-shadow: none;
        top: 90px;
        left: calc(50% - 10px);
        z-index: 99;
    }
    .w-account {
        height: 30px;
        width: 30px;
        position: relative;
        padding: 0 0 0 15px;
        img {
            height: 100%;
        }
    }
    .w-img-grid {
        padding: 0;
        min-width: 100%;
        grid-template: auto / 1fr ;
        gap: 0 0;
    }
    .w-primary-img{
        width: 100%;
        padding: 0 0 100%;
        img {
            height: auto;
            width: 100%;
            border-radius: 0;
        } 
    }
    .w-img-nav {
        top: 45%;
        transform: translateY(50%);
        display: flex;
        &.previous {
            left: 10%;
            transform: translateX(-50%);
        }
        &.next {
            right: 10%;
            transform: translateX(50%);
        }
    }

    #primary-img {
        border-radius: 0;
    }
    .w-thumbnail {
        display: none;
    }
    .w-product-info {
        padding: 50px 25px 0;
    }
    .w-product-price-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 0 0;
    }
    .w-product-priceXsolde {
        padding: 0;
    }
    .w-add-to-cart-inputXbtn{
        flex-direction: column;
        padding: 20px 0 0;
        button {
            width: 100%;
            margin: 0;
            margin: 15px 0 0;
        }
    }
    .w-add-to-cart-input {
        height: 50px;
        width: calc(100% - 30px);
    }

    #minus {
        i {
            color: $Orange;
        }
    }
    #plus {
        svg {
            fill: $Orange;
        }
    }
}
@media (max-width: 500px) {
    header {
        height: 80px;
        &::after {
            content: '';
            visibility: hidden;
        }
    }
    #l-product-section {
        padding: 0 0 120px;
    }
    .l-product-wrapper {
        padding: 0;
    }
    #i-menu {
        padding: 0 0 0 15px;
    }
    .w-logo {
        padding: 0 15px 0;
    }
    .w-header-nav {
        padding: 25px 0 0 25px;
        width: calc(70% - 25px);
        nav {
            padding: 42.5px 0 0;
            a {
                padding: 7.5px 0 ;
            }
        }
        
    }
    .w-header-nav--fake{
        padding: 0 30px;
    }
    .w-basketXaccount {
        padding: 0 15px  0 0;
    }
    .w-mini-cart {
        top: 90px;
        left: calc(50% - 10px);
    }
    .w-account {
        padding: 0 0 0 15px;
    }
    .w-img-grid {
        grid-template: auto / 1fr ;
    }
    .w-product-info {
        padding: 20px 25px 0;
    }
    .w-product-price-info {
        padding: 15px 0 0;
    }
    .w-add-to-cart-inputXbtn{
        flex-direction: column;
        padding: 20px 0 0;
        button {
            width: 100%;
            margin: 0;
            margin: 15px 0 0;
        }
    }
    .w-add-to-cart-input {
        height: 50px;
    }
}