// Var Color
$Orange :hsl(26, 100%, 55%);
$PaleOrange: hsl(25, 100%, 94%);
$VeryVarkBlue: hsl(220, 13%, 13%);
$DarkGrayishBlue: hsl(217, 9%, 45%);
$GrayishBlue: hsl(220, 14%, 75%);
$LightGrayishBlue: hsl(223, 64%, 98%);
$White: hsl(0, 0%, 100%);
$Black : hsl(0, 0%, 0%);  /*(with 75% opacity for lightbox background)*/

//  Var txt
$FontSizeParagraph: 16px;

// Fundamentals
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    vertical-align: baseline;
    text-decoration: none;
    text-transform: none;
    font-family: 'Kumbh Sans' , sans-serif;
    transition: 0.25s;
    list-style: none;
    color: inherit;
    user-select: none;
    font-weight: 400;
}
body {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}
h3 {
    font-size: 32px;
    font-weight: 700;
}
button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $Orange;
    border-radius: 10px;
    padding: 15px 0;
    flex: 1;
    margin:  0 0 0 15px;
    color: $White;
    // box-shadow: 0 10px 10px $White;
    svg {
        padding: 0 10px 0 0;
    }
    cursor: pointer;
    &:hover {
        opacity: .5;
        box-shadow: 0 25px 50px $PaleOrange;
    }
}
span {
    font-size: inherit;
    font-weight: inherit;
}
i {
    cursor: pointer;
    display: flex;
    align-items: center;
}

//Layout
header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 110px;
    background: #fff;
    &::after {
        content: '';
        display: block;
        position: absolute;
        visibility: visible;
        bottom: 0;
        left: 170px;
        height: 1.5px;
        width: calc(100% - 340px);
        background: $GrayishBlue;
    }
}
#l-product-section {
    display: flex;
    padding: 100px 0 ;
    position: relative;
}
.l-product-wrapper {
    padding: 0 210px;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    position: relative;
}


//Module
.w-logo {
    padding: 0 30px 0 170px;
}
.w-header-nav {
    padding: 0 30px;
    flex: 1;
    height: 100%;
    nav {
        display: flex;
        height: 100%;
        a {
            padding: 0 15px;
            height: 100%;
            display: flex;
            align-items: center;
            &:first-child {
                margin: 0 0 0 -15px;
            }
            span {
                display: flex;
                align-items: center;
                height: 100%;
                position: relative;
                font-weight: 400;
                font-size: $FontSizeParagraph;
                color: $DarkGrayishBlue;
                &:hover {
                    color: $VeryVarkBlue;
                }
                &:hover::after {
                    content: '';
                    display: block;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    height: 4px;
                    width: 100%;
                    background: $Orange;
                }
            }
        }
    }
}
.w-header-nav--fake {
    display: none;
}
#i-header-nav-close {
    display: none;
}
.w-basketXaccount {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 0 170px 0 0;
}
.w-basket,.w-account,#i-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}
.w-basket {
    position: relative;
}
#basket-pill {
    position: absolute;
    background: $Orange;
    color:$White;
    top: -29%;
    right: -31%;
    padding: 2px 7.5px;
    border-radius: 10px;
    font-size: 8px;
    visibility: hidden;
    &.is-active {
        visibility: visible;
        opacity: 1;
    }
}
.w-mini-cart {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 350px;
    background: $White;
    border-radius: 10px;
    padding: 20px 0 30px;
    left: 0;
    top: 50px;
    z-index: 3;
    transform: translateX(calc(-50% + 10px));
    box-shadow:  10px 10px 10px $LightGrayishBlue, -10px 10px 10px $LightGrayishBlue;
    opacity: 0;
    overflow: hidden;
    visibility: hidden;
    &.is-active {
        opacity: 1;
        visibility: visible;
    }
    > h3 {
        border-bottom: 1px solid $GrayishBlue;
        font-size: 16px;
        padding: 0 15px 20px;
    }
    button {
        width: calc(100% - 40px);
        margin: 20px 20px 0;
    }
}
.w-mini-cart-sumaryXbtn {
    position: relative;
}
.w-mini-cart--is-empty {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0 0;
    top: 0;
    left: 0;
    z-index: 2;
    background: white;
    opacity: 1;
    visibility: hidden;
    &.true {
        visibility: visible;
    }
    &.is-no-empty {
        visibility: hidden;
        opacity: 0;
    }
}


.w-mini-cart-product-sumary {
    display: flex;
    flex: 1;
    height: 50px;
    align-items: center;
    padding:  20px 20px 0;
    
}
.w-mini-cart-product-thumbnail {
    height: 50px;
    width: 50px;
    position: relative;
    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        border-radius: 7.5px;
    }
}
.w-mini-cart-product-info {
    flex: 1;
    color: $DarkGrayishBlue;
    font-size: 16px;
    height: calc(100% - 5px);
    padding: 2.5px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    > div {
        display: flex;
    }
}
.mini-cart-product-qte,.mini-cart-product-pt {
    padding: 0 0 0 10px;
}
.mini-cart-product-pt {
    color: $Black;
    font-weight: 700;
    span {
        font-weight: 700;
    }
}
.w-account {
    padding: 0 0 0 30px;
    img {
        border: 2px solid transparent;
        border-radius: 50%;
        cursor: pointer;
        &:hover {
            border-color: $Orange;
        }
    }
}
#i-menu {
    display: none;
}
#l-lightbox {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
    top: 0;
    left: 0;
    height: calc(100% - 180px);
    width: calc(100vw - 65%);
    padding: 90px 32.5% ;
    background: rgba($Black, 0.75);
    opacity: 0;
    visibility: hidden;
    &.is-active {
        opacity: 1;
        visibility: visible;
    }
    .previous {
        left: 0;
        transform: translateX(-50%);
    }
    .next {
        right: 0;
        transform: translateX(50%);
    }
}

.w-img-grid.w-img-grid-lightbox {
    min-width: calc(100% - 60px);
    padding: 0;
    margin: 15px 0 0;
    padding: 0 30px;
    gap: 90px 30px;
    .w-primary-img{
        margin: 0 -30px ;
        width: calc( 100% + 60px);
        padding: 0 0 calc(100% + 60px);
        position: relative;
        #img-primary-lightbox {
            height: 100%;
            width: 100%; 
        }
        .w-img-nav {
            display: flex;
        }
    }
    .w-thumbnail {
        width: 100%;
        padding: 0 0 100%;
        border-radius: 10px;
        &::after {
            content: '';
            height: 100%;
            width: 100%;
            left: 0;
            top: 0;
            position: absolute;
            background: #fff;
        }
        img {
            z-index: 2;
            height: 100%;
        }
        
    }
}
.w-lightbox-close {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    i {
        width: 50px;
        height: 50px;
        justify-content: flex-end;
        fill: $White;
        &:hover {
            svg {
                fill: $Orange;
            }
        }
    }
}
.w-img-nav {
    position: absolute;
    display: none;
    z-index: 4;
    background: $White;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    i {
        justify-content: center;
        height: 100%;
        width: 100%;
        &:hover {
            svg {
                stroke: $Orange;
            }
        }
    }
    svg {
        stroke: #1D2026;
    }
        
}
.w-img-grid {
    position: relative;
    display: grid;
    border-radius: 10px;
    min-width: calc(50% - 50px);
    max-width: 50%;
    padding: 0 50px 0 0;
    grid-template: auto auto / 1fr 1fr 1fr 1fr;
    gap: 30px 30px;
}
#img-primary {
    cursor: pointer;
}
.w-primary-img{
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    width: 100%;
    padding: 0 0 100%;
    position: relative;
    img {
        border-radius: 10px;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    
}
.w-thumbnail {
    width: 100%;
    padding: 0 0 100%;
    position: relative;
    border-radius: 10px;
    border: 2px solid transparent ;
    overflow: hidden;
    &.is-active {
        border-color:  $Orange ; /* Urgent*/
        img {
            opacity: 0.3;
        }
    }
    img {
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
        transform: scale(1.15);
        &:hover {
            opacity: 0.3;
        }
    }
    
}
.w-product-info {
    padding: 30px 10px 0 70px;
    strong {
        color: $Orange;
    }
}
.product-tilte {
    padding: 15px 0 0;
}
.product-description {
    padding: 30px 0 0;
    color: $GrayishBlue;
}
.w-product-priceXsolde {
    display: flex;
    padding: 15px 0 0;
    align-items: center;
    width: 0%;
    justify-content: space-between;
}
.w-product-price {
    padding: 5px 0;
    font-weight: 700;
    font-size: 24px;
}
.w-product-solde {
    border-radius: 5px;
    background: $PaleOrange;
    color: $Orange;
    padding: 2.5px 7.5px;
    margin: 0 10px;
}
.w-product-price--line-through {
    padding: 5px 0 0;
    color: $GrayishBlue;
    text-decoration: line-through;
}
.w-add-to-cart-inputXbtn {
    display: flex;
    padding: 20px 0 0;
    align-items: center;
    justify-content: space-between;
    position: relative; 
}
.w-add-to-cart-input {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background: $LightGrayishBlue;
    border-radius: 10px;
    min-height: 100%;
    padding: 15px 15px;
    svg {
        fill: $Orange;
    }
    div {
        display: flex;
        align-items: center;
    }
    i {
        svg{fill: $Black;}
        &:hover {
            color: $Orange;
            svg {
                fill: $Orange;
            }
        }
    }
}
.minus {
    color: $Black;
    font-weight: 900;
    font-size: 32px;
    display: flex;
    align-items: center;
    line-height: 100%;
}
#AddPanierMulti {
    margin: 0 30px ;
}


@media (max-width: 970px) {
    header {
        height: 80px;
        &::after {
            content: '';
            visibility: hidden;
        }
    }
    #l-lightbox {
        display: none;
    }
    .l-lightbox-bg {
        background: rgba($Black, 0.75);
        z-index: 5;
        height: 100%;
        position: fixed;
        top: 0;
        right: 0;
        width: 30%;
        opacity: 0;
        visibility: hidden;
        &.is-active {
            opacity: 1;
            visibility: visible;
        }
    }
    #i-menu {
        display: flex;
        padding: 0 0 0 15px;
        cursor: pointer;
    }
    .w-logo {
        padding: 0 15px 0;
    }
    .w-header-nav {
        position: fixed;
        z-index: 5;
        height: 100vh;
        top: 0;
        padding: 25px 0 0 25px;
        width: calc(70% - 25px);
        background: $White;
        font-weight: 700;
        opacity: 0;
        visibility: hidden;
        &.is-active {
            opacity: 1;
            visibility: visible;
        }
        nav {
            flex-direction: column;
            padding: 42.5px 0 0;
            a {
                padding: 7.5px 0 ;
                margin: 0 !important;
                height: auto;
                span {
                    color: $VeryVarkBlue;
                    &:hover::after {
                        display: none;
                    }
                }
            }
        }
        
    }
    #i-header-nav-close {
        display: inline;
    }
    .w-header-nav--fake{
        padding: 0 30px;
        flex: 1;
        display: flex;
    }
    .w-basketXaccount {
        padding: 0 15px  0 0;
        position: static;
    }
    .w-mini-cart {
        box-shadow: none;
        top: 90px;
        left: calc(50% - 10px);
        z-index: 99;
    }
    .w-account {
        height: 30px;
        width: 30px;
        position: relative;
        padding: 0 0 0 15px;
        img {
            height: 100%;
        }
    }
    #l-product-section {
        padding: 0 0 100px;
    }
    .l-product-wrapper {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
    .w-img-grid {
        padding: 0;
        min-width: 100%;
        grid-template: auto / 1fr ;
        gap: 0 0;
    }
    .w-primary-img{
        width: 100%;
        padding: 0 0 100%;
        img {
            height: auto;
            width: 100%;
            border-radius: 0;
        } 
    }
    .w-img-nav {
        top: 45%;
        transform: translateY(50%);
        display: flex;
        &.previous {
            left: 10%;
            transform: translateX(-50%);
        }
        &.next {
            right: 10%;
            transform: translateX(50%);
        }
    }
    .w-thumbnail {
        display: none;
    }
    .w-product-info {
        padding: 20px 20px;
    }
    .w-product-price-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .w-add-to-cart-inputXbtn{
        flex-direction: column;
        padding: 20px 20px 0;
        button {
            width: 100%;
            margin: 0;
            margin: 15px 0 0;
        }
    }
    .w-add-to-cart-input {
        width: calc(100% - 30px);
    }
}