/*(with 75% opacity for lightbox background)*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  vertical-align: baseline;
  text-decoration: none;
  text-transform: none;
  font-family: 'Kumbh Sans' , sans-serif;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  list-style: none;
  color: inherit;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-weight: 400;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h3 {
  font-size: 32px;
  font-weight: 700;
}

button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #ff7d1a;
  border-radius: 10px;
  padding: 15px 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 0 0 15px;
  color: white;
  cursor: pointer;
}

button svg {
  padding: 0 10px 0 0;
}

button:hover {
  opacity: .5;
  -webkit-box-shadow: 0 25px 50px #ffede0;
          box-shadow: 0 25px 50px #ffede0;
}

span {
  font-size: inherit;
  font-weight: inherit;
}

i {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 110px;
  background: #fff;
}

header::after {
  content: '';
  display: block;
  position: absolute;
  visibility: visible;
  bottom: 0;
  left: 170px;
  height: 1.5px;
  width: calc(100% - 340px);
  background: #b6bcc8;
}

#l-product-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 0;
  position: relative;
}

.l-product-wrapper {
  padding: 0 210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 100%;
  position: relative;
}

.w-logo {
  padding: 0 30px 0 170px;
}

.w-header-nav {
  padding: 0 30px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
}

.w-header-nav nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.w-header-nav nav a {
  padding: 0 15px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.w-header-nav nav a:first-child {
  margin: 0 0 0 -15px;
}

.w-header-nav nav a span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  position: relative;
  font-weight: 400;
  font-size: 16px;
  color: #68707d;
}

.w-header-nav nav a span:hover {
  color: #1d2025;
}

.w-header-nav nav a span:hover::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  width: 100%;
  background: #ff7d1a;
}

.w-header-nav--fake, #i-header-nav-close {
  display: none;
}

.w-basketXaccount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 170px 0 0;
}

.w-basket, .w-account, #i-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.w-basket {
  position: relative;
}

#basket-pill {
  position: absolute;
  background: #ff7d1a;
  color: white;
  top: -29%;
  right: -31%;
  padding: 2px 7.5px;
  border-radius: 10px;
  font-size: 8px;
  visibility: hidden;
}

#basket-pill.is-active {
  visibility: visible;
  opacity: 1;
}

.w-mini-cart {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 350px;
  background: white;
  border-radius: 10px;
  padding: 20px 0 30px;
  left: 0;
  top: 50px;
  z-index: 3;
  -webkit-transform: translateX(calc(-50% + 10px));
          transform: translateX(calc(-50% + 10px));
  -webkit-box-shadow: 10px 10px 10px #f7f8fd, -10px 10px 10px #f7f8fd;
          box-shadow: 10px 10px 10px #f7f8fd, -10px 10px 10px #f7f8fd;
  opacity: 0;
  overflow: hidden;
  visibility: hidden;
}

.w-mini-cart.is-active {
  opacity: 1;
  visibility: visible;
}

.w-mini-cart > h3 {
  border-bottom: 1px solid #b6bcc8;
  font-size: 16px;
  padding: 0 15px 20px;
}

.w-mini-cart button {
  width: calc(100% - 40px);
  margin: 20px 20px 0;
}

.w-mini-cart-sumaryXbtn {
  position: relative;
}

.w-mini-cart--is-empty {
  position: absolute;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0 0;
  top: 0;
  left: 0;
  z-index: 2;
  background: white;
  opacity: 1;
  visibility: hidden;
}

.w-mini-cart--is-empty.true {
  visibility: visible;
}

.w-mini-cart--is-empty.is-no-empty {
  visibility: hidden;
  opacity: 0;
}

.w-mini-cart-product-sumary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 20px 0;
}

.w-mini-cart-product-thumbnail {
  height: 50px;
  width: 50px;
  position: relative;
}

.w-mini-cart-product-thumbnail img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  border-radius: 7.5px;
}

.w-mini-cart-product-info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #68707d;
  font-size: 16px;
  height: calc(100% - 5px);
  padding: 2.5px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.w-mini-cart-product-info > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mini-cart-product-qte, .mini-cart-product-pt {
  padding: 0 0 0 10px;
}

.mini-cart-product-pt {
  color: black;
  font-weight: 700;
}

.mini-cart-product-pt span {
  font-weight: 700;
}

.w-account {
  padding: 0 0 0 30px;
}

.w-account img {
  border: 2px solid transparent;
  border-radius: 50%;
  cursor: pointer;
}

.w-account img:hover {
  border-color: #ff7d1a;
}

#i-menu {
  display: none;
}

#l-lightbox {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3;
  top: 0;
  left: 0;
  height: calc(100% - 180px);
  width: calc(100vw - 65%);
  padding: 90px 32.5%;
  background: rgba(0, 0, 0, 0.75);
  opacity: 0;
  visibility: hidden;
}

#l-lightbox.is-active {
  opacity: 1;
  visibility: visible;
}

#l-lightbox .previous {
  left: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#l-lightbox .next {
  right: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.w-img-grid.w-img-grid-lightbox {
  min-width: calc(100% - 60px);
  padding: 0;
  margin: 15px 0 0;
  padding: 0 30px;
  gap: 90px 30px;
}

.w-img-grid.w-img-grid-lightbox .w-primary-img {
  margin: 0 -30px;
  width: calc( 100% + 60px);
  padding: 0 0 calc(100% + 60px);
  position: relative;
}

.w-img-grid.w-img-grid-lightbox .w-primary-img #img-primary-lightbox {
  height: 100%;
  width: 100%;
}

.w-img-grid.w-img-grid-lightbox .w-primary-img .w-img-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.w-img-grid.w-img-grid-lightbox .w-thumbnail {
  width: 100%;
  padding: 0 0 100%;
  border-radius: 10px;
}

.w-img-grid.w-img-grid-lightbox .w-thumbnail::after {
  content: '';
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
  background: #fff;
}

.w-img-grid.w-img-grid-lightbox .w-thumbnail img {
  z-index: 2;
  height: 100%;
}

.w-lightbox-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.w-lightbox-close i {
  width: 50px;
  height: 50px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  fill: white;
}

.w-lightbox-close i:hover svg {
  fill: #ff7d1a;
}

.w-img-nav {
  position: absolute;
  display: none;
  z-index: 4;
  background: white;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}

.w-img-nav i {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
}

.w-img-nav i:hover svg {
  stroke: #ff7d1a;
}

.w-img-nav svg {
  stroke: #1D2026;
}

.w-img-grid {
  position: relative;
  display: -ms-grid;
  display: grid;
  border-radius: 10px;
  min-width: calc(50% - 50px);
  max-width: 50%;
  padding: 0 50px 0 0;
  -ms-grid-rows: auto auto;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template: auto auto / 1fr 1fr 1fr 1fr;
  gap: 30px 30px;
}

#img-primary {
  cursor: pointer;
}

.w-primary-img {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  width: 100%;
  padding: 0 0 100%;
  position: relative;
}

.w-primary-img img {
  border-radius: 10px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.w-thumbnail {
  width: 100%;
  padding: 0 0 100%;
  position: relative;
  border-radius: 10px;
  border: 2px solid transparent;
  overflow: hidden;
}

.w-thumbnail.is-active {
  border-color: #ff7d1a;
  /* Urgent*/
}

.w-thumbnail.is-active img {
  opacity: 0.3;
}

.w-thumbnail img {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.w-thumbnail img:hover {
  opacity: 0.3;
}

.w-product-info {
  padding: 30px 10px 0 70px;
}

.w-product-info strong {
  color: #ff7d1a;
}

.product-tilte {
  padding: 15px 0 0;
}

.product-description {
  padding: 30px 0 0;
  color: #b6bcc8;
}

.w-product-priceXsolde {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 0 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 0%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.w-product-price {
  padding: 5px 0;
  font-weight: 700;
  font-size: 24px;
}

.w-product-solde {
  border-radius: 5px;
  background: #ffede0;
  color: #ff7d1a;
  padding: 2.5px 7.5px;
  margin: 0 10px;
}

.w-product-price--line-through {
  padding: 5px 0 0;
  color: #b6bcc8;
  text-decoration: line-through;
}

.w-add-to-cart-inputXbtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.w-add-to-cart-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f7f8fd;
  border-radius: 10px;
  min-height: 100%;
  padding: 15px 15px;
}

.w-add-to-cart-input svg {
  fill: #ff7d1a;
}

.w-add-to-cart-input div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.w-add-to-cart-input i svg {
  fill: black;
}

.w-add-to-cart-input i:hover {
  color: #ff7d1a;
}

.w-add-to-cart-input i:hover svg {
  fill: #ff7d1a;
}

.minus {
  color: black;
  font-weight: 900;
  font-size: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 100%;
}

#AddPanierMulti {
  margin: 0 30px;
}

@media (max-width: 970px) {
  header {
    height: 80px;
  }
  header::after {
    content: '';
    visibility: hidden;
  }
  #l-lightbox {
    display: none;
  }
  .l-lightbox-bg {
    background: rgba(0, 0, 0, 0.75);
    z-index: 5;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    width: 30%;
    opacity: 0;
    visibility: hidden;
  }
  .l-lightbox-bg.is-active {
    opacity: 1;
    visibility: visible;
  }
  #i-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 0 0 15px;
    cursor: pointer;
  }
  .w-logo {
    padding: 0 15px 0;
  }
  .w-header-nav {
    position: fixed;
    z-index: 5;
    height: 100vh;
    top: 0;
    padding: 25px 0 0 25px;
    width: calc(70% - 25px);
    background: white;
    font-weight: 700;
    opacity: 0;
    visibility: hidden;
  }
  .w-header-nav.is-active {
    opacity: 1;
    visibility: visible;
  }
  .w-header-nav nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 42.5px 0 0;
  }
  .w-header-nav nav a {
    padding: 7.5px 0;
    margin: 0 !important;
    height: auto;
  }
  .w-header-nav nav a span {
    color: #1d2025;
  }
  .w-header-nav nav a span:hover::after {
    display: none;
  }
  #i-header-nav-close {
    display: inline;
  }
  .w-header-nav--fake {
    padding: 0 30px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .w-basketXaccount {
    padding: 0 15px  0 0;
    position: static;
  }
  .w-mini-cart {
    -webkit-box-shadow: none;
            box-shadow: none;
    top: 90px;
    left: calc(50% - 10px);
    z-index: 99;
  }
  .w-account {
    height: 30px;
    width: 30px;
    position: relative;
    padding: 0 0 0 15px;
  }
  .w-account img {
    height: 100%;
  }
  #l-product-section {
    padding: 0 0 100px;
  }
  .l-product-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
  .w-img-grid {
    padding: 0;
    min-width: 100%;
    -ms-grid-rows: auto;
    -ms-grid-columns: 1fr;
        grid-template: auto / 1fr;
    gap: 0 0;
  }
  .w-primary-img {
    width: 100%;
    padding: 0 0 100%;
  }
  .w-primary-img img {
    height: auto;
    width: 100%;
    border-radius: 0;
  }
  .w-img-nav {
    top: 45%;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .w-img-nav.previous {
    left: 10%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .w-img-nav.next {
    right: 10%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  .w-thumbnail {
    display: none;
  }
  .w-product-info {
    padding: 20px 20px;
  }
  .w-product-price-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .w-add-to-cart-inputXbtn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px 20px 0;
  }
  .w-add-to-cart-inputXbtn button {
    width: 100%;
    margin: 0;
    margin: 15px 0 0;
  }
  .w-add-to-cart-input {
    width: calc(100% - 30px);
  }
}
/*# sourceMappingURL=style.css.map */