#l-product-section {
    display: flex;
    padding: 100px 0 ;
    position: relative;
}
.l-product-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    padding: 0 210px;
    position: relative;
}