* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    vertical-align: baseline;
    text-decoration: none;
    text-transform: none;
    font-family: 'Kumbh Sans' , sans-serif;
    transition: 0.15s;
    list-style: none;
    color: inherit;
    user-select: none;
    font-weight: 400;
}
body {
    position: relative;
    overflow-x: clip;
}
h3 {
    font-weight: 700;
}
span {
    font-size: inherit;
    font-weight: inherit;
}
i {
    @extend %flexXalign-items-center;
    cursor: pointer;
}