button {
    @extend %flexXalign-items-center;
    @extend %border-radius;
    justify-content: center;
    margin:  0 0 0 15px;
    padding: 15px 0;
    background: $Orange;
    color: $White;
    line-height: 1;
    flex: 1;
    cursor: pointer;
    box-shadow: 0 25px 25px 0 $PaleOrange;
    &:hover {
        opacity: .5;
    }
    svg {
        padding: 0 10px 0 0;
    }
}