#l-lightbox {
    @extend %flexXalign-items-center;
    flex-direction: column;
    justify-content: center;
    height: calc(100% - 180px);
    width: calc(100vw - 65%);
    padding: 90px 32.5% ;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    background: rgba($Black, 0.75);
    opacity: 0;
    visibility: hidden;
    &.is-active {
        opacity: 1;
        visibility: visible;
    }
    .previous {
        left: 0;
        transform: translateX(-50%);
    }
    .next {
        right: 0;
        transform: translateX(50%);
    }
}

.w-img-grid.w-img-grid-lightbox {
    min-width: calc(100% - 60px);
    margin: 15px 0 0;
    padding: 0 30px;
    gap: 90px 30px;
    .w-primary-img{
        width: calc( 100% + 60px);
        margin: 0 -30px ;
        padding: 0 0 calc(100% + 60px);
        position: relative;
        cursor: pointer;
        .w-img-nav {
            display: flex;
        }
    }
    .w-thumbnail {
        @extend %border-radius;
        width: 100%;
        padding: 0 0 100%;
        &::after {
            content: '';
            height: 100%;
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;
            background: #fff;
        }
        img {
            height: 100%;
            z-index: 2;
        }
        
    }
}
.w-lightbox-close {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    i {
        justify-content: flex-end;
        height: 50px;
        width: 50px;
        fill: $White;
        &:hover {
            svg {
                fill: $Orange;
            }
        }
    }
}
.w-img-nav {
    display: none;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 50%;
    z-index: 4;
    border-radius: 50%;
    background: $White;
    transform: translateY(-50%);
    cursor: pointer;
    i {
        height: 100%;
        width: 100%;
        justify-content: center;
        &:hover {
            svg {
                stroke: $Orange;
            }
        }
    }
    svg {
        stroke: #1D2026;
    }
        
}
.w-img-grid {
    @extend %border-radius;
    display: grid;
    grid-template: auto auto / 1fr 1fr 1fr 1fr;
    gap: 30px 30px;
    min-width: calc(50% - 50px);
    max-width: 50%;
    padding: 0 50px 0 0;
    position: relative;
}
.w-primary-img{
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    width: 100%;
    padding: 0 0 100%;
    position: relative;
    overflow-x: hidden;
    @extend %border-radius;
    img {
        width: 100%;
    }
}
.w-img-nav-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 0 100%;
    .w-img-nav {
        display: flex;
    }
}
#w-primary-img {
    cursor: pointer;
}
#img-primary-wrapper, #img-primary-lightbox-wrapper{
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    transition: 1s;
    img {
        min-width: 100%
    }
}
.w-thumbnail {
    @extend %border-radius;
    width: 100%;
    padding: 0 0 100%;
    position: relative;
    border: 2px solid transparent ;
    overflow: hidden;
    &.is-active {
        border-color:  $Orange ; /* Urgent*/
        img {
            opacity: 0.3;
        }
    }
    img {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
        transform: scale(1.15);
        &:hover {
            opacity: 0.3;
        }
    }
    
}
.w-product-info {
    padding: 50px 10px 0 70px;
    strong {
        color: $Orange;
        font-size: 12px;
        font-weight: 700;
        word-spacing: -1;
}
}
.product-tilte {
    padding: 15px 0 0;
    font-size: 40px;
}
.product-description {
    padding: 30px 0 0;
    color: $DarkGrayishBlue;
    line-height: 1.7
}
.w-product-priceXsolde {
    @extend %flexXalign-items-center;
    padding: 25px 0 0;
}
.w-product-price {
    padding: 5px 0;
    font-weight: 700;
    font-size: 28px;
}
.w-product-solde {
    margin: 0 10px;
    padding: 2.5px 7.5px;
    border-radius: 5px;
    background: $PaleOrange;
    color: $Orange;
}
.w-product-price--line-through {
    padding: 5px 0 0;
    color: $GrayishBlue;
    text-decoration: line-through;
}
.w-add-to-cart-inputXbtn {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    padding: 40px 0 0;
    position: relative; 
}
.w-add-to-cart-input {
    @extend %flexXalign-items-center;
    @extend %border-radius;
    min-width: 130px;
    padding: 0 15px;
    justify-content: space-between;
    position: relative;
    background: $LightGrayishBlue;
    div {
        @extend %flexXalign-items-center;
    }
}
#minus,#plus {
    @extend %flexXalign-items-center;
    justify-content: center;
    height: 100%;
    width: 25px;
    cursor: pointer;
}
#minus {
    &:hover {
        i {
            color: rgba($Orange, 0.7);
        } 
    }
    i {
        color: $Orange;
        font-weight: 900;
        font-size: 32px; 
        transform: translateY(-3px);
    }
}
#plus {
    &:hover {
        svg {
            fill: rgba($Orange, 0.7);;
        }
    } 
    svg{fill: $Orange;}
}
#AddPanierMulti {
    margin: 0 30px ;
    font-weight: 900;

}
